[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "<2.9.0,>=2.8.3"
pandas = "<0.26.0,>=0.25.0"
Django = ">=2.2.8"

[requires]
python_version = "3.7"
